/* src/Navbar.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 40px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.site-title {
    font-size: 32px;
    font-weight: bold;
    color: #476778;  
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 40px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    background-color: #476778;
    color: white;
    border: none;
    padding: 20px 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #35505d;
}

.signup-link span {
    font-size: 14px;
    color: #476778;
}

.signup-link a {
    color: #476778;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold; 
}

.signup-link a:hover {
    color: #35505d;
}
