/*src/AddBook/APIAdd.css*/
.book-inventory-container
{
  max-width: 1600px;
  margin-top: 50px;
  margin-left: 260px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  align-items: right;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-container {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 8px 31px;
  cursor: pointer;
  background-color: #476778;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 2px 2.5px;
}

button:hover {
  background-color: #35505d;
}

.book-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.book-card img {
  max-width: 100px;
  height: auto;
}
