/* Sidebar container */
.left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: whitesmoke;
    padding: 10px 0;
}

/* Sidebar button container */
.left-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Sidebar buttons */
.left-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #35505d;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/* Button hover effect */
.left-bar-button:hover {
    background-color: #2b404a;
}

/* Active link styling */
.left-bar-button.active {
    background-color: #2b404a;
    font-weight: bold;
}

.home-container {
    margin-left: 70px; /* Pushes content down to avoid being hidden behind the Sidebar */
    padding: 20px;
}