/* src/Navbar/Sidebar.css */

.left-bar {
    position: fixed;
    top: 60px; /* Start below the top bar */
    left: 0;
    width: 250px;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    gap: 30px;
  }
  
  .left-bar-button {
    width: 90%;
    display: flex ; 
    justify-content: center;
    margin: 25px 0;
    padding: 20px 60px;
    font-size: 18px;
    color: white;
    background-color: #35505d;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .left-bar-button:hover {
    background-color: #2b404a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* Sidebar button container */
.left-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Active link styling */
.left-bar-button.active {
    background-color: #2b404a;
    font-weight: bold;
}

/* Specific styling for Add a Book button */
.left-bar-button:nth-child(3) {
  padding: 20px 10px;
}

.home-container {
    margin-left: 70px; /* Pushes content down to avoid being hidden behind the Sidebar */
    padding: 20px;
}