/* src/Navbar/Sidebar.css */
.left-bar-button {
    display: flex; /* Make it behave like a button */
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #35505d;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline from links */
}

.left-bar-button:hover {
    background-color: #2b404a;
}
